header {
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    border-bottom: 1px;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
}
.logo{
    align-content: left;
    margin-left: 20px;

}
